name: Self-hosted runner test

# on:
#   push:
#     tags:
#       - '*'        # run on any tag push
#   workflow_dispatch:
on:
    workflow_dispatch:
        inputs:
            generate-cli-command:
                description: "Command passed to generate matrix script"
                required: true
                type: string

jobs:
  self_hosted_check:
    # Make sure your runner has the 'self-hosted' label (default for self-hosted runners).
    runs-on: vp1902

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Collect runner info
        id: info
        run: |
          # Hostname of the self-hosted machine
          echo "hostname=$(hostname)" >> $GITHUB_OUTPUT

          # Current time in UTC
          echo "time=$(date -u +"%Y-%m-%d %H:%M:%S UTC")" >> $GITHUB_OUTPUT

      - name: Start server in background
        run: |
          $HOME/quality_check/.venv/bin/python quality_check/server/openai_server.py &
          sleep 5 # Give the server a few seconds to start up (adjust as needed)

      - name: Publish summary table
        run:  $HOME/quality_check/.venv/bin/python quality_check/server/test.py >> $GITHUB_STEP_SUMMARY
        # run:  $HOME/quality_check/.venv/bin/python quality_check/utils/summarize.py >> $GITHUB_STEP_SUMMARY

      # - name: Publish summary table
      #   run: |
      #     {
      #       echo "## Self-hosted runner test result"
      #       echo ""
      #       echo "| Hostname | Cmd |"
      #       echo "|----------|------|"
      #       echo "| ${{ steps.info.outputs.hostname }} | ${{ inputs.generate-cli-command }} |"
      #     } >> "$GITHUB_STEP_SUMMARY"